<!DOCTYPE html>
<html>
<head>

<style type='text/css'>
textarea {
  vertical-align: top;
}

</style>
</head>


<h1> Create Your Article </h1>

<form action = '/articles' method = 'post'>
    <label for = 'title'> Title: </label>
    <input id = 'title' type = 'text' name = 'title' />
    <br> <br>
    <label for = 'content'> Content: </label>
    <textarea id = 'content' type = 'text' name = 'content' > </textarea>
    <br> <br>
    <input type = 'submit' value = 'submit'/>
</form>

</html>